version: "3"
services:
  app:
    build: ./app/
    tty: true
    ports:
      - 10000:10000
    volumes:
      - ./app/src:/go/src/app/src
    env_file:
      - .env
  db:
    image: mysql:5.7
    build: ./db/
    ports:
    - 3306:3306
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=root
